body{
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}
section{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 500px;
  background-repeat: no-repeat;
  background-size: cover;
}
div{
  align-items: center;
  width: 35%;
  height: 40%;
}



/*responsive*/
@media (min-width:0px) and (max-width: 320px){
  section{
    background-image: url(../img/Landscape.jpg);
  }
  div{
    content: url(../img/kitten-medium.png);
  }
}

size

@media (min-width:0px) and (max-width: 320px){
  section{
    background-image: url(../img/dawn.png);
  }
  div{
    content: url(../img/kitten-medium.png);
  }
}

size

@media (min-width:0px) and (max-width: 320px){
  section{
    background-image: url(../img/dawn.png);
  }
  div{
    content: url(../img/kitten-large.png);
  }

  size

  @media (min-width:0px) and (max-width: 320px){
    section{
      background-image: url(../img/maxresdefault.jpg);
    }
    div{
      content: url(../img/kitten-small.png);
    }
  }

  size

  @media (min-width:0px) and (max-width: 320px){
    section{
      background-image: url(../img/midnight-conversation_861064.jpg);
    }
    div{
      content: url(../img/kitten-small.png);
    }
  }
